In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
df = px.data.gapminder()

In [3]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [4]:
pd.pivot_table(df, index=['year'], columns=['continent'], values=['pop'], aggfunc='mean')

                    pop
continent        Africa     Americas          Asia        Europe     Oceania
year
1952       4.570010e+06  13806097.84  4.228356e+07  1.393736e+07   5343003.0
1957       5.093033e+06  15478156.64  4.735699e+07  1.459635e+07   5970988.0
1962       5.702247e+06  17330810.16  5.140476e+07  1.534517e+07   6641759.0
1967       6.447875e+06  19229864.92  5.774736e+07  1.603930e+07   7300207.0
1972       7.305376e+06  21175368.40  6.518098e+07  1.668784e+07   8053050.0
1977       8.328097e+06  23122707.96  7.225799e+07  1.723882e+07   8619500.0
1982       9.602857e+06  25211636.80  7.909502e+07  1.770890e+07   9197425.0
1987       1.105450e+07  27310158.84  8.700669e+07  1.810314e+07   9787207.5
1992       1.267464e+07  29570964.16  9.494825e+07  1.860476e+07  10459825.5
1997       1.430448e+07  31876016.40  1.025238e+08  1.896480e+07  11120715.0
2002       1.603315e+07  33990910.48  1.091455e+08  1.927413e+07  11727414.5
2007       1.787576e+07  35954847.36  1.155138e+08  1.953662e+07  12274973.5

In [5]:
# 複数指定
pd.pivot_table(df, index=['year'], columns=['continent'], values=['pop', 'gdpPercap'], aggfunc='mean')

             gdpPercap                                            \
continent       Africa      Americas          Asia        Europe
year
1952       1252.572466   4079.062552   5195.484004   5661.057435
1957       1385.236062   4616.043733   5787.732940   6963.012816
1962       1598.078825   4901.541870   5729.369625   8365.486814
1967       2050.363801   5668.253496   5971.173374  10143.823757
1972       2339.615674   6491.334139   8187.468699  12479.575246
1977       2585.938508   7352.007126   7791.314020  14283.979110
1982       2481.592960   7506.737088   7434.135157  15617.896551
1987       2282.668991   7793.400261   7608.226508  17214.310727
1992       2281.810333   8044.934406   8639.690248  17061.568084
1997       2378.759555   8889.300863   9834.093295  19076.781802
2002       2599.385159   9287.677107  10174.090397  21711.732422
2007       3089.032605  11003.031625  12473.026870  25054.481636

                                  pop                             \
continent       Oceania        Africa     Americas          Asia
year
1952       10298.085650  4.570010e+06  13806097.84  4.228356e+07
1957       11598.522455  5.093033e+06  15478156.64  4.735699e+07
1962       12696.452430  5.702247e+06  17330810.16  5.140476e+07
1967       14495.021790  6.447875e+06  19229864.92  5.774736e+07
1972       16417.333380  7.305376e+06  21175368.40  6.518098e+07
1977       17283.957605  8.328097e+06  23122707.96  7.225799e+07
1982       18554.709840  9.602857e+06  25211636.80  7.909502e+07
1987       20448.040160  1.105450e+07  27310158.84  8.700669e+07
1992       20894.045885  1.267464e+07  29570964.16  9.494825e+07
1997       24024.175170  1.430448e+07  31876016.40  1.025238e+08
2002       26938.778040  1.603315e+07  33990910.48  1.091455e+08
2007       29810.188275  1.787576e+07  35954847.36  1.155138e+08


continent        Europe     Oceania
year
1952       1.393736e+07   5343003.0
1957       1.459635e+07   5970988.0
1962       1.534517e+07   6641759.0
1967       1.603930e+07   7300207.0
1972       1.668784e+07   8053050.0
1977       1.723882e+07   8619500.0
1982       1.770890e+07   9197425.0
1987       1.810314e+07   9787207.5
1992       1.860476e+07  10459825.5
1997       1.896480e+07  11120715.0
2002       1.927413e+07  11727414.5
2007       1.953662e+07  12274973.5

In [6]:
pop_pivot = pd.pivot_table(df, index=['year'], columns=['continent'], values=['pop'], aggfunc='mean')

In [7]:
pop_pivot

                    pop
continent        Africa     Americas          Asia        Europe     Oceania
year
1952       4.570010e+06  13806097.84  4.228356e+07  1.393736e+07   5343003.0
1957       5.093033e+06  15478156.64  4.735699e+07  1.459635e+07   5970988.0
1962       5.702247e+06  17330810.16  5.140476e+07  1.534517e+07   6641759.0
1967       6.447875e+06  19229864.92  5.774736e+07  1.603930e+07   7300207.0
1972       7.305376e+06  21175368.40  6.518098e+07  1.668784e+07   8053050.0
1977       8.328097e+06  23122707.96  7.225799e+07  1.723882e+07   8619500.0
1982       9.602857e+06  25211636.80  7.909502e+07  1.770890e+07   9197425.0
1987       1.105450e+07  27310158.84  8.700669e+07  1.810314e+07   9787207.5
1992       1.267464e+07  29570964.16  9.494825e+07  1.860476e+07  10459825.5
1997       1.430448e+07  31876016.40  1.025238e+08  1.896480e+07  11120715.0
2002       1.603315e+07  33990910.48  1.091455e+08  1.927413e+07  11727414.5
2007       1.787576e+07  35954847.36  1.155138e+08  1.953662e+07  12274973.5

In [8]:
# 規格化(％)
pop_pivot.divide(pop_pivot.sum(axis=1), axis=0)

                pop
continent    Africa  Americas      Asia    Europe   Oceania
year
1952       0.057168  0.172706  0.528941  0.174348  0.066838
1957       0.057551  0.174903  0.535134  0.164939  0.067472
1962       0.059137  0.179734  0.533108  0.159141  0.068880
1967       0.060393  0.180115  0.540885  0.150230  0.068377
1972       0.061699  0.178842  0.550503  0.140941  0.068014
1977       0.064276  0.178461  0.557688  0.133049  0.066525
1982       0.068194  0.179040  0.561691  0.125759  0.065315
1987       0.072128  0.178193  0.567700  0.118119  0.063859
1992       0.076235  0.177861  0.571088  0.111903  0.062913
1997       0.080007  0.178288  0.573432  0.106073  0.062200
2002       0.084309  0.178739  0.573933  0.101351  0.061668
2007       0.088865  0.178741  0.574250  0.097122  0.061022