In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
df = px.data.gapminder()

In [3]:
df1 = df.iloc[:100]
df2 = df.iloc[100:200]

In [4]:
df1

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
95,Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
96,Bangladesh,Asia,1952,37.484,46886859,684.244172,BGD,50
97,Bangladesh,Asia,1957,39.348,51365468,661.637458,BGD,50
98,Bangladesh,Asia,1962,41.216,56839289,686.341554,BGD,50
99,Bangladesh,Asia,1967,43.453,62821884,721.186086,BGD,50

In [5]:
df2

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
100,Bangladesh,Asia,1972,45.252,70759295,630.233627,BGD,50
101,Bangladesh,Asia,1977,46.923,80428306,659.877232,BGD,50
102,Bangladesh,Asia,1982,50.009,93074406,676.981866,BGD,50
103,Bangladesh,Asia,1987,52.819,103764241,751.979403,BGD,50
104,Bangladesh,Asia,1992,56.018,113704579,837.810164,BGD,50
...,...,...,...,...,...,...,...,...
195,Burkina Faso,Africa,1967,40.697,5127935,794.826560,BFA,854
196,Burkina Faso,Africa,1972,43.591,5433886,854.735976,BFA,854
197,Burkina Faso,Africa,1977,46.137,5889574,743.387037,BFA,854
198,Burkina Faso,Africa,1982,48.122,6634596,807.198586,BFA,854
199,Burkina Faso,Africa,1987,49.557,7586551,912.063142,BFA,854

In [6]:
# 縦方向に結合
concat_df = pd.concat([df1, df2])

In [7]:
concat_df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
195,Burkina Faso,Africa,1967,40.697,5127935,794.826560,BFA,854
196,Burkina Faso,Africa,1972,43.591,5433886,854.735976,BFA,854
197,Burkina Faso,Africa,1977,46.137,5889574,743.387037,BFA,854
198,Burkina Faso,Africa,1982,48.122,6634596,807.198586,BFA,854
199,Burkina Faso,Africa,1987,49.557,7586551,912.063142,BFA,854